# Базовый стиль
BasedOnStyle: Google

# Размер отступа (в пробелах)
IndentWidth: 4

# Использовать пробелы вместо табуляций
UseTab: Never

# Максимальная длина строки
ColumnLimit: 100

# Расположение фигурных скобок (Attach - на той же строке)
BreakBeforeBraces: Attach

# Сортировка #include по алфавиту
SortIncludes: true

# Пробел перед открывающей круглой скобкой в управляющих конструкциях (if, for)
SpaceBeforeParens: ControlStatements